In [7]:
%run 'dsproject1.ipynb'

# How to use ETL pipline application:
    1. Run the above code cell ONCE.
    2. Run the cell below to call the main method. This should start the ETL application and prompt the user for input.
    3. Read the cell output carefully for application functions and options.
    4. Type input when promted.

### Notes:
- Most errors will be raised. Read error message for reason. Other errors such as improper input will likely not have an error raised if the input is not valid. 
- Pay attention to warnings.

In [11]:
main()

Validating dataframe...
Existing data detected!
ETL Pipeline: What would you like to do?
Available Options:
            1: Fetch or Upload Data (Overwrite existing data)
            2: Convert file types (CSV, JSON, SQL DB). THIS ACTION IS INDEPENDENT OF EXISTING DATAFRAME.
            3: Modify dataframe (Add or remove column)
            4: Export/Store Data to disk or database
            5: Summarize current dataframe
            6: Exit program

Waiting for input...
You selected:  5
Generating summary of dataframe...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6194 entries, 0 to 6193
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   application_id  6194 non-null   int64
 1   gender          6194 non-null   object
 2   international   6194 non-null   bool
 3   gpa             6194 non-null   float64
 4   major           6194 non-null   object
 5   race            4352 non-null   object
 6   gmat            6194 non-null   float64
 7   work_exp        6194 non-null   float64
 8   work_industry   6194 non-null   object
 9   admission       1000 non-null   object
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 441.7+ KB
None
       application_id          gpa         gmat     work_exp
count     6194.000000  6194.000000  6194.000000  6194.000000
mean      3097.500000     3.250714   651.092993     5.016952
std       1788.198115     0.151541    49.294883     1.032432
min          1.000000     2.650000   570.000000     1.000000
25%       1549.250000     3.150000   610.000000     4.000000
50%       3097.500000     3.250000   650.000000     5.000000
75%       4645.750000     3.350000   680.000000     6.000000
max       6194.000000     3.770000   780.000000     9.000000